html {
	scroll-behavior: smooth;
}

body{
	position: relative;
	overflow: hidden;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: “liga”, “kern”;

	& > *{
		color: lighten($black, 60%);
	}
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Source Sans Pro', sans-serif;
}